.sobre__container{
	border-radius: 10px;
  padding: 1rem;
	display: flex;
  flex-direction: row;
	overflow: hidden;
  height: auto;
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.18);
-webkit-box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.18);
-moz-box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.18);
}
.sobre__img{
  width: 50%;
  right: 1rem;
  margin: 1rem;
  align-items: center;
  border-radius: 5%;
  overflow: hidden;
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.18);
-webkit-box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.18);
-moz-box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.18);
}
.sobre__desc{
  text-align: justify;
  width: 50%;
  margin:1rem;
  left: 1rem;
  color: white;
}
.sobre__desc>h1{
  margin:1rem;
}
